.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 60px;
}

.item {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.active::after {
  content: '';
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 100%;
  margin-top: 30px;
  background-color: var(--primary);
  transform: translateX(-50%);
}
