:root {
  --red-100: rgb(251 233 239 / 100%);
  --red-900: rgb(86 16 38 / 100%);
  --red-800: rgb(129 24 57 / 100%);
  --red-700: rgb(172 32 76 / 100%);
  --red-600: rgb(215 40 95 / 100%);
  --red-500: rgb(223 81 126 / 100%);
  --red-400: rgb(231 126 161 / 100%);
  --red-300: rgb(239 169 192 / 100%);
  --red-200: rgb(245 199 214 / 100%);

  --height-top-nav: 46px;
}
