.root {
  width: 100%;
  max-width: 980px;
  margin: 100px auto 0;
}

.picturesWrapper {
  position: relative;
}

.rectangleWrapper {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 582px;
  height: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(75px, -20px);
}

.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.textWrapper {
  position: relative;
  z-index: 4;
  padding: 110px 68px 91px 76px;
  color: var(--black);
}

.picture {
  max-width: 690px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
  transform: translateX(-27px);
}

.sloganWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 29px;
  margin-top: 205px;
  margin-bottom: 90px;
}

.joystick {
  max-width: 119px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 66px;
}

.leaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 0 54px;
  margin-top: 44px;
  margin-bottom: 200px;
  border-radius: 10px;
}

.text {
  font-size: 21px;
  line-height: 30px;
}
