canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: calc(100vh - var(--height-top-nav));
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
