.form {
  max-width: 420px;
  width: 100%;
}

.button {
  width: 100%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 185px);
}

.yandex {
  cursor: pointer
}

@media (max-width: 613px) {
  .inner {
    padding: 0 20px;
  }
}
