.messageBody {
  background: #ececec;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 16px;
  width: 600px;
}

.content {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.date {
  color: #818181;
  font-size: 14px;
  font-weight: 700;
}

.loadMoreList {
  max-height: 600px;
  overflow-y: scroll;
  border: none;
  border-block-end: none;
}

.loadMoreBtn {
  display: flex;
  justify-content: center;
}

.listItem {
  border-block-end: none;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.listItemReverse {
  flex-direction: row-reverse;
  margin-top: 10px;
}

.messageBodyReverse {
  margin-right: auto;
  margin-left: 0;
}
